@page "/about-us"

<main class="page">
    <section class="clean-block about-us">
        <div class="container">
            <div class="block-heading">
                <img class="img-fluid" src="assets/img/37040379_1913889155300978_6657358544712499200_n.jpg?h=14bdc3b55ae7b1f09831295010928bee" width="500">
                <h2 style="color: #ff6f71;font-weight: bold;font-size: 26px;">WAS IST DAS?</h2>
                <p class="lead" style="max-width: none;">Der Siegener Anime- und Mangatreff (SAMT) ist eure kleine Convention in Siegen!<br></p>
                <p style="max-width: none;"><br>Viermal jährlich bietet euch der Veranstalter&nbsp;<a href="https://jugendmalanders.de/" target="_blank">Jugend mal anders e.V.</a>&nbsp;(seit 2015) an Samstagen auf dem Event die besten popkulturellen Inhalte rund um Japan. Auf dem SAMT treffen sich Anime-, Manga- und vor allem japanbegeisterte junge Menschen, um sich auszutauschen, neue Freundschaften zu knüpfen und an unserem bunten Programm teilzunehmen! Die Inhalte präsentieren wir euch mit freundlicher Unterstützung von der&nbsp;<a href="http://bluebox-siegen.de/" target="_blank">BlueBox Siegen</a>, KünstlerInnen und Kulturschaffenden sowie HändlerInnen und ExpertInnen. Unser Ziel ist, dass ihr eine wunderbare Zeit in der Community habt und vielleicht noch etwas lernt oder neue Interessen entdecken könnt:<br><br>Bei unseren Zeichen- und Cosplaywettbewerben könnt ihr tolle Preise gewinnen oder euch an der Handwerkskunst der Anderen erfreuen. Und wenn der Tatendrang euch packt, dann könnt ihr bei unseren Workshops unter anderem eure Fähigkeiten im Zeichnen, Basteln, Tanzen oder Schauspielern entdecken und verbessern. Zur Unterhaltung und auch zum Kennenlernen bieten wir euch außerdem ein interaktives Bühnenprogramm, Animequizze und andere Spiele, wie z. B. die kreativen Pen &amp; Paper von unserem Partner&nbsp;<a href="http://www.paperadventures.info/Startseite/" target="_blank">Paper Adventures e.V.</a>&nbsp;Durch das vielfältige Angebot könnt ihr also nicht nur spielerisch neue Hobbys ausprobieren, sondern trefft ganz ungezwungen andere Jugendliche mit denselben Interessen.<br></p>
                <div class="carousel slide" data-bs-ride="carousel" id="carousel-1" style="padding-top: 15px;padding-bottom: 15px;">
                    <div class="carousel-inner">
                        <div class="carousel-item active"><img class="w-100 d-block" src="assets/img/ccwSAMT2.jpg?h=197eef1e8a9d1f5cf5c07c1f3bc46496" alt="Slide Image"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src="assets/img/DSC_0099.jpg?h=3a5d1f3a6835181560a8f9f383f0f8b9" alt="Slide Image"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src="assets/img/29216092_1768719333151295_5513521132159893504_o.jpg?h=8c5769d13f8d63a131ff8078d86c2467" alt="Slide Image"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src="assets/img/ccwSAMT1.jpg?h=fadaea524b5f2b761e69e7268f919fc3" alt="Slide Image"></div>
                    </div>
                    <div>
                        <!-- Start: Previous --><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><!-- End: Previous -->
                        <!-- Start: Next --><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a><!-- End: Next -->
                    </div>
                    <ol class="carousel-indicators">
                        <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
                        <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
                        <li data-bs-target="#carousel-1" data-bs-slide-to="2"></li>
                        <li data-bs-target="#carousel-1" data-bs-slide-to="3"></li>
                    </ol>
                </div>
                <p style="max-width: none;">Selbstverständlich muss bei uns auch niemand hungern. Unsere Freunde hinter der BlueBox-Theke nehmen für die Feinschmecker unter euch den Kampf mit wild gewordenen Waffeleisen auf und entreißen im Sommer den Tiefkühltruhen ihre gefrorenen Kakigori-Eisklumpen, um euch mit traditionellem japanisches Wassereis zu erfrischen. Auch ein herzhaftes Mittagessen bieten wir mit Pizza und warmen Brezeln immer wieder gerne an.<br><br>Natürlich versuchen wir jedes SAMT noch ein kleines bisschen besser zu machen, als das vorherige. Das hat 2018 zum&nbsp;<a href="https://jugendmalanders.de/events/samt-xl/" target="_blank">SAMT XL</a>&nbsp;geführt, auf dem wir euch erstmals eine Convention im großen Stil geboten haben. Aber natürlich haben wir das kleine SAMT seitdem nicht vergessen! Unsere thematische Ausrichtung an den Jahreszeiten hat sich bewährt und es kommen immer wieder neue, spannende Inhalte dazu. Bei dem Randomdance der flinkfüßigen Gruppe&nbsp;<a href="https://www.youtube.com/channel/UCccWG_Xn68ZY9NMsel9wSxw" target="_blank">K-Pop in Siegen</a>&nbsp;sind wir etwas von der gewohnten Anime- und Mangamanier abgewichen – was von euch mit Begeisterung aufgenommen wurde. Auch Wünsche über weitere neue Inhalte nehmen wir jederzeit dankend über unsere&nbsp;<a href="https://www.facebook.com/Jugend-mal-anders-eV-555371468154946/?epa=SEARCH_BOX" target="_blank">Facebookseite</a>,&nbsp;<a href="https://www.instagram.com/jugendmalanders/?hl=de" target="_blank">Instagram</a>, Twitter oder auch per Mail an.<br><br>Als unsere BesucherInnen füllt ihr das SAMT mit Leben! Wer von euch andere Gleichgesinnte treffen möchte oder einfach ein super Wochenende haben will, sollte hier auf jeden Fall einmal reinschauen! Wir freuen uns, euch in unserer Community begrüßen zu dürfen!<br></p>
            </div>
        </div>
    </section>
</main>

@code {

}
