@page "/"
@namespace SAMT_Website.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="de">
<head>
    @*<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SAMT-Website</title>
        <base href="~/" />
        <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
        <link href="css/site.css" rel="stylesheet" />
        <link href="SAMT-Website.styles.css" rel="stylesheet" />*@

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J1BT88WSJ2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-J1BT88WSJ2');
    </script>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5XTMSQK');</script>
    <!-- End Google Tag Manager -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5062491525616153"
            crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Siegener Anime und Manga Treff - SAMT</title>
    <meta name="twitter:image" content="https://samt-con.de/assets/img/13133315_1104199109603324_6208087546453975968_n.jpg">
    <meta property="og:image" content="https://samt-con.de/assets/img/13133315_1104199109603324_6208087546453975968_n.jpg">
    <meta name="description" content="Das Siegener Anime und Manga Treff (kurz SAMT) ist die erste Anime und Manga Convention in Siegen.">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">

    <base href="~/" />

    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="SAMT-Website.styles.css" rel="stylesheet" />

    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/android-chrome-192x192.png?h=8f0d7f118b827e465480d098f7d39318">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/android-chrome-192x192.png?h=8f0d7f118b827e465480d098f7d39318">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/android-chrome-192x192.png?h=8f0d7f118b827e465480d098f7d39318">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/android-chrome-192x192.png?h=8f0d7f118b827e465480d098f7d39318">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/android-chrome-192x192.png?h=8f0d7f118b827e465480d098f7d39318">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css?h=d6708c07df622a08ba4689f9b3e1a4ce">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css?h=a0e894d2f295b40fda5171460781b200">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css?h=a0e894d2f295b40fda5171460781b200">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/css/Lightbox-Gallery.css?h=6fd900423297e690e0f2ff0372fc3ee6">
    <link rel="stylesheet" href="assets/css/Projects-Grid.css?h=4f3cfa46e40e236365345fc77963f4b8">
    <link rel="stylesheet" href="assets/css/Simple-Slider.css?h=da830b6503e0457b5735b0129f20b163">
    <link rel="stylesheet" href="assets/css/Team-Boxed.css?h=82bbec4cae98efe5fc4bdd3d9d621fc2">
    <link rel="stylesheet" href="assets/css/vanilla-zoom.min.css?h=e737f76df021b46fa7180f48799a5d20">
</head>
<body>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5XTMSQK');</script>
    <!-- End Google Tag Manager -->
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

<script src="assets/js/jquery.min.js?h=84e399b8f2181ccd73394fdeddff1638"></script>
<script src="assets/bootstrap/js/bootstrap.min.js?h=5488c86a1260428f0c13c0f8fb06bf6a"></script>
<script src="assets/js/bs-init.js?h=7563c52cc0a72a92d96ce0159b71241c"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
<script src="assets/js/vanilla-zoom.js?h=6a37ea9c996b05f763161c73127d66bc"></script>
<script src="assets/js/theme.js?h=a083aeb15550c5e1266c666e8a5846d9"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
<script src="assets/js/Lightbox-Gallery.js?h=64eb55ccbc6ead5e91ebe308caacba6e"></script>
<script src="assets/js/Simple-Slider.js?h=84b1d7cbf88bb21b37fb412ca8f94640"></script>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
