@page "/contact-us"

<main class="page contact-us-page">
    <section class="clean-block clean-form dark" style="background: url(&quot;assets/img/new023b.png?h=f0945facda1f647b2b15ef70c5dea91b&quot;) bottom right / auto no-repeat;">
        <div class="container">
            <div class="block-heading">
                <h2 style="color: #ff6f71;">Kontaktiere uns</h2>
                <p>Du hast Fragen, Anregungen, Vorschläge, möchtest mitmachen oder als Gast mit dabei sein?<br>Dann schreib uns super gerne, egal auf welcher Plattform!</p>
            </div>
            <form style="border-color: #ff6f71;" data-bss-recipient="642ee8d609707c23c45d5f84ab7aa577">
                <div class="mb-3"><label class="form-label" for="name">Name</label><input class="form-control" type="text" id="name" name="name"></div>
                <div class="mb-3"><label class="form-label" for="subject">Betreff</label><input class="form-control" type="text" id="subject" name="subject"></div>
                <div class="mb-3"><label class="form-label" for="email">Email</label><input class="form-control" type="email" id="email" name="email"></div>
                <div class="mb-3"><label class="form-label" for="message">Nachricht</label><textarea class="form-control" id="message" name="message"></textarea></div>
                <div class="mb-3"><button class="btn btn-primary" type="submit" style="background: #ff6f71;border-style: none;">Senden</button></div>
            </form>
        </div>
    </section>
</main>

@code {

}
