@page "/gallery"

<main class="page gallery-page">
    <section class="clean-block clean-gallery dark">
        <div class="container">
            <div class="block-heading">
                <h2 style="color: #ff6f71;">Galerie</h2>
                <p style="max-width: none;">Impressionen aus vergangenen SAMT der vergangenen Jahre</p>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="assets/img/29216092_1768719333151295_5513521132159893504_o.jpg?h=8c5769d13f8d63a131ff8078d86c2467"><img class="img-thumbnail img-fluid image" src="assets/img/29216092_1768719333151295_5513521132159893504_o.jpg?h=8c5769d13f8d63a131ff8078d86c2467"></a></div>
                <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="assets/img/36642776_490774768012040_2274045665514356736_o.jpg?h=20a15a5be744715805ca261b41430ca2"><img class="img-thumbnail img-fluid image" src="assets/img/36642776_490774768012040_2274045665514356736_o.jpg?h=20a15a5be744715805ca261b41430ca2"></a></div>
                <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="assets/img/DSC_3722.jpg?h=ad00d31c84f18e1831e5d57d0cf1efbe"><img class="img-thumbnail img-fluid image" src="assets/img/DSC_3722.jpg?h=ad00d31c84f18e1831e5d57d0cf1efbe"></a></div>
                <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="assets/img/Juma-Team-SAMT-XL-2019.jpg?h=b05ebd6379ad50023fa0c7ac27e3a1f1"><img class="img-thumbnail img-fluid image" src="assets/img/Juma-Team-SAMT-XL-2019.jpg?h=b05ebd6379ad50023fa0c7ac27e3a1f1"></a></div>
                <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="assets/img/DSC09079-1.jpg?h=9c7e092022c346220155c1988fef7628"><img class="img-thumbnail img-fluid image" src="assets/img/DSC09079-1.jpg?h=9c7e092022c346220155c1988fef7628"></a></div>
                <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="assets/img/DSC09280-94.jpg?h=f244decc08b2cc855a83043934d5abda"><img class="img-thumbnail img-fluid image" src="assets/img/DSC09280-94.jpg?h=f244decc08b2cc855a83043934d5abda"></a></div>
                <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="assets/img/36885945_494130641009786_8292515451146076160_o.jpg?h=098dc7c7c0afe2d749eb9969e839c1a3"><img class="img-thumbnail img-fluid image" src="assets/img/36885945_494130641009786_8292515451146076160_o.jpg?h=098dc7c7c0afe2d749eb9969e839c1a3"></a></div>
                <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="assets/img/36604939_489100634846120_3039415653774655488_o.jpg?h=ac2a4522ab515c48fca7a686c85fbc85"><img class="img-thumbnail img-fluid image" src="assets/img/36604939_489100634846120_3039415653774655488_o.jpg?h=ac2a4522ab515c48fca7a686c85fbc85"></a></div>
                <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="assets/img/21082933_1566394656717098_5649178977692531891_o.jpg?h=f93fb0516efe12e85d011235105d585a"><img class="img-thumbnail img-fluid image" src="assets/img/21082933_1566394656717098_5649178977692531891_o.jpg?h=f93fb0516efe12e85d011235105d585a"></a></div>
                <div class="col-md-6 col-lg-4 item"><a class="lightbox" href="assets/img/36614413_489100704846113_8111641536359301120_o.jpg?h=ccb4590a3b29cdb0cd1860b8f5cb9388"><img class="img-thumbnail img-fluid image" src="assets/img/36614413_489100704846113_8111641536359301120_o.jpg?h=ccb4590a3b29cdb0cd1860b8f5cb9388"></a></div>
            </div>
        </div>
    </section>
</main>

@code {

}
