<!-- Start: Footer Dark -->
<footer class="page-footer dark">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-3">
                <h5>Legal</h5>
                <ul>
                    <li><a href="https://jugendmalanders.de/rechtliches/impressum/" target="_blank">Impressum</a></li>
                    <li><a href="https://jugendmalanders.de/rechtliches/datenschutz/">Datenschutzerklärung</a></li>
                </ul>
            </div>
            <div class="col-sm-3 text-center"><a href="https://jugendmalanders.de/events/samt/" target="_blank">Wir sind eine Eventreihe des&nbsp;Jugend Mal Anders EV<br><img data-bss-hover-animate="pulse" src="assets/img/JUMA-Logo-1-transparent.png?h=ebc0b98e53b45a9eec869feb0ed27b7f" width="150"></a></div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2021 Siegener Anime und Manga Treff - SAMT</p>
    </div>
</footer><!-- End: Footer Dark -->